body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}

.main-content {
    padding-top: 20px;
}



